@media screen and (min-width:1440px) {
    .container{
        max-width: 1440px;
        padding: 0 40px;
        margin: 0 auto;
    }
    .header-nav{
        height: 198px;
    }
    .mobile-menu-btn{
        display: none;
    }
    .bell-btn{
        display: none;
    }
    .logo-link {
    font-size: 28px;
    }
    .logo-link img{
        width: 75px;
        height: 75px;
    }
    .navigation-list {
        display: flex;
        align-items: start;
        gap: 30px;
        margin-top: 44px;
        margin-left: auto;
        margin-bottom: auto;

    }
    .navigation-link{
        margin-left: auto;
        padding: 44px 0;
        color: #000;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.001em;
        text-transform: uppercase;
    }
    .person-btn {
        background-color: transparent;
        border: none;
        width: 24px;
        height: 24px;
    }
    .subscribe-btn {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.01em;
        padding: 8px 12px;
        border-radius: 82px;
        background-color: #C8C8C8;
        border: none;
    }
    
}