@media screen and (min-width:1158px) {
    .container{
        max-width: 1440px;
        padding: 0;
        margin: 0 auto;
    }
    .header-nav{
        height: 198px;
        padding: 0 40px;
    }
    .mobile-menu-btn{
        display: none;
    }
    .bell-btn{
        display: none;
    }
    .logo-link {
    font-size: 28px;
    }
    .logo-link img{
        width: 75px;
        height: 75px;
    }
    .navigation-list {
        display: flex;
        align-items: start;
        gap: 30px;
        margin-top: 44px;
        margin-left: auto;
        margin-bottom: auto;

    }
    .navigation-link{
        margin-left: auto;
        padding: 44px 0;
        color: #000;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.001em;
        text-transform: uppercase;
    }
    .person-btn {
        background-color: transparent;
        border: none;
        width: 24px;
        height: 24px;
    }
    .subscribe-btn {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.01em;
        padding: 8px 12px;
        border-radius: 82px;
        background-color: #C8C8C8;
        border: none;
    }
    /* *----------------Hero-section------- */
    .mobile-hero-section {
        display: none;
    }
    .desktop-hero-section {
        display: block;
        background-color: #5e5f50;
        padding-top: 52px;
        padding-bottom: 216px;
    }
    .desktop-main-title {
        color: #FFF;
        margin: 0 auto 43px;
        text-align: center;
        font-family: Roboto;
        font-size: 80px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.07em;
        max-width: 934px;
    }
    .desktop-hero-text {
        color: var(--white, #FFF);
        margin: 0 auto 48px;
        text-align: center;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.03em;
        max-width: 746px;
    }
    .desctop-hero-btn {
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: 25px 40px;
        border: none;
        background-color: var(--accent-brand-color);
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }
    .header-nav, .desktop-hero-section{

        background-image: 
        linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.20),
        rgba(0, 0, 0, 0.20)
        ), url(../images/desktop-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 880px;
    }
    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .header-nav, .desktop-hero-section{
            background-color: #5e5f50;
            background-image:
            linear-gradient(
                to bottom
                rgba(0, 0, 0, 0.20)
                rgba(0, 0, 0, 0.20)
                ), url(../images/desktop-bg@2x.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 880px;
        }
    }
}