:root{
    --accent-brand-color: #FFDA18;
}
body{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 100%;
}
button {
    font-family: inherit;
}
.container{
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}
/**-------------------header------------------- */
.header-nav {
    display: flex;
    align-items: center;
}
.mobile-menu-btn {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobile-menu-btn svg{
    width: 100%;
    height: 100%;
}
.logo-link {
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.001em;
    color: #000;
    display: flex;
    align-items: center;
    padding: 17px 0;
}
.acent-logo {
    color: var(--accent-brand-color);
}

.bell-btn {
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navigation-list{
    display: none;
}
/**----------------hero-section----------- */
.hero-section {
}
.hello-title {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.01em;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 15px;
}
.background-wrap {
    padding: 26px 7px 12px 21px;
    background-image: url(../images/hero-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .background-wrap{
            background-image: url(../images/hero-bg-img@2x.jpg);
            background-repeat: no-repeat;
            background-size: cover;

        }
    }
.accent-text {
    color: #FFF;
font-family: Merienda;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: 1.5;
letter-spacing: 0.04em;
margin-right: 76px;
margin-bottom: 74px;
}
.accent-word{
    color: var(--accent-brand-color);
}
.consultation-btn {
    background-color: var(--accent-brand-color);
    color: #000;
    padding: 4px 23px;
    border: none;
    border-radius: 4px;
    font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 1.4;
letter-spacing: 0.02em;
margin-left: 153px;
}
